@using TupaERPWeb.Models.ViewModels
@model PerfilListViewModel
@{
    ViewData["Title"] = "Perfil";
}
<form asp-controller="Perfil" asp-action="index">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    NAVEGAR - Cadastro de Perfis
                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        @if (TempData["Error"] != null)
                        {
                            <div class="col=lg-12">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong><i class="fa-solid  fa-triangle-exclamation fs-5"></i> </strong>  @TempData["Error"]
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        }

                        @if (TempData["Info"] != null)
                        {
                            <div class="col=lg-12">
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <strong><i class="fa-solid fa-circle-info fs-5"></i> </strong>  @TempData["Info"]
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        }

                        @if (TempData["Success"] != null)
                        {
                            <div class="col=lg-12">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong><i class="fa-regular fa-thumbs-up fs-5"></i></strong> @TempData["Success"]
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label asp-for="Descricao" class="form-label">Perfil</label>
                            <input asp-for="Descricao" class="form-control" placeholder="Digite a DESCRIÇÃO" data-val="True" onkeyup="maiuscula(this);" />
                        </div>
                        <div id="botoes-acao" class="col-md-4 mt-4">
                            <a onclick="chamarIncluir()" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Novo Registro" class="btn btn-outline-success align-middle float-lg-end me-2"><i class="fa-duotone  fa-circle-plus"></i></a>
                            <button type="submit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Buscar" class="btn btn-outline-primary align-middle float-md-end me-2"><i class="fa-duotone fa-magnifying-glass"></i></button>
                            <button type="submit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Baixar" class="btn btn-outline-secondary align-middle float-md-end me-2"><i class="fa-duotone fa-download"></i></button>
                            <a onclick="limparInputs()" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Limpar" class="btn btn-outline-warning align-middle float-md-end me-2"><i class="fa-duotone fa-broom"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <!--CARD PARA DADOS-->
            <div class="card">
                <div class="card-header">
                    Dados
                </div>
                <div class="card-body">
                    <!--aqui vai a table (PARTIAL)-->
                    <partial name="_TabelaPrincipal" model="Model.Perfis" />


                </div>
                <section class="footer">
						<div class="card-footer container-fluid">
							<div class="row align-items-center">
								<div class="col-md-6">
									<span>Página @(Model.NumeroPaginas < Model.PaginaAtual ? 0 : Model.PaginaAtual) de @Model.NumeroPaginas - Total de registros: @Model.TotalItens</span>
								</div>
								<div class="col-md-3">
									<div class="row align-items-center justify-content-end" style="margin-right: -55px">
										<div class="col-md-auto" style="margin-right:-1rem">
											<small class="form-text text-muted me-2 px-1">Página com</small>
										</div>
										<div class="col-md-auto">
											<select class="form-select" id="qtdPaginas" asp-for="QtdItensPagina">
												<option value="5">5</option>
												<option value="10">10</option>
												<option value="20">20</option>
												<option value="50">50</option>
												<option value="100">100</option>
												<option value="200">200</option>
											</select>
										</div>
										<div class="col-md-auto" style="margin-left:-1rem">
											<small class="form-text text-muted ms-2 px-1">Registros</small>
										</div>
										<script>
											document.getElementById("qtdPaginas").addEventListener("change", function () {
												this.form.submit();
											});
										</script>
									</div>
								</div>
								<div class="col-md-3">
									<div class="row">
										<ul class="pagination text-center align-items-center justify-content-end" style="margin-bottom: 0px;">

											<!-- Link "Anterior" -->
											@if (Model.PaginaAtual > 1)
											{
												<li style="border: none;">
													<a class="btn page-link align-middle" href="@Url.Action("index", new { paginaAtual = Model.PaginaAtual - 1, qtdItensPagina = Model.QtdItensPagina, descricao = Model.Descricao})">
														<span>&laquo; Anterior</span>
													</a>
												</li>
											}

											<!-- Itens de página numerados -->
											@for (int i = 0; i < Model.NumeroPaginas; i++)
											{
												<li class="@(Model.PaginaAtual == i + 1 ? "active" : string.Empty)" style="border: none; padding: 0px;">
													<a class="btn page-link align-middle" href="@Url.Action("index", new { paginaAtual = i + 1, qtdItensPagina = Model.QtdItensPagina, descricao = Model.Descricao})">
														<span>@(i + 1)</span>
													</a>
												</li>
											}

											<!-- Link "Próximo" -->
											@if (Model.PaginaAtual < Model.NumeroPaginas)
											{
												<li class="" style="border: none;">
													<a class="btn page-link align-middle" href="@Url.Action("index", new { paginaAtual = Model.PaginaAtual + 1, qtdItensPagina = Model.QtdItensPagina,  descricao = Model.Descricao })">
														<span>Próximo &raquo;</span>
													</a>
												</li>
											}
										</ul>
									</div>

								</div>
							</div>
						</div>
					</section>
            </div>
        </div>


    </div>


 

    

</div>
</form>